#header {
  margin: 2rem 0;
  div {
    @include flex-layout(row, space-between, center);
    .logo{
      width: 130px;
      padding: 0 20px;
      cursor: pointer;
    }
    button {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1.5rem;
      padding: 0 20px;
    }
    .search {
      display: none;
    }
    .icon-wrap {
      display: none;
    }
  }
  //메뉴 부분
  nav {
    margin-top: 2rem;
    button {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1.5rem;
      padding: 0 10px;
    }
    ul {
      display: none;
    }
  }
}

// 태블릿
@include tablet {
  #header {
    div {
      max-width: 1024px;
      margin: 0 auto;
      button {
        display: none;
      }
      .icon-wrap {
        display: block;
        @include flex-layout();
        li {
          font-size: 1.5rem;
          padding: 0 10px;
          cursor: pointer;
        }
      }
    .search {
      display: block;
    position: relative;
    flex: 1;
    max-width: 500px;

    input {
      width: 100%;
      height: 45px;
      padding: 0 3rem;
      border-radius: 2rem;
      border: 1px solid #ccc;
      font-size: 1rem;
      caret-color: var(--color-primary);
    }
input::placeholder{
  @include base-font;
  color: var(--color-primary);
}
    .icon {
      position: absolute;
      left: 1.3rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-primary);
      font-size: 1.2rem;
    }
  }
    }
    nav {
      display: block;
      ul {
        @include tablet {
          @include flex-layout(row, space-around, center);
          @include bold-font;
          margin: 0 1rem;
          li{
            transition: all 0.3s ease;
            cursor: pointer;
          }
          li:hover{
            color: var(--color-btn);
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
