@mixin font-title{
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

@mixin font-sub{
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

@mixin font-btn{
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

@mixin font-body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

//반응형 믹스인

@mixin tablet{
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: 1440px){
        @content;
    }
}