@import "./global.scss";

#items {
    width: 95%;
    margin: 0 auto;
}

header {
    margin: 3rem 0;
    @include flex-layout(row, space-between, center);

    p {
        @include large-font;
    }
}

.banner {
    position: relative;

    button {
        @include flex-layout;
        padding: 0.3rem 1rem;
        @include large-font;
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 0.5rem;
    }

    img {
        width: 100%;
    }

    .btn-left {
        position: absolute;
        left: 0;
        top: 45%
    }

    .btn-right {
        position: absolute;
        right: 0;
        top: 45%;
    }
}

.review-text {
    @include flex-layout(row, space-between, center);
    @include base-font;
    padding: 1rem 0;

    .color-blk {
        @include bold-font;
        @include large-font;
    }

    .color-primary,
    .color-gray {
        display: flex;
        gap: 0.5rem;
    }

    .color-primary {
        color: var(--color-primary);
    }

    .color-gray {
        color: var(--color-dark);
    }
}

.item-text {
    @include bold-font;

    h2 {
        @include large-font;
        padding: 0.5rem 0;
    }

    p {
        padding-bottom: 2rem;
        @include large-font;
    }
}

.price-info {
    color: var(--color-dark);
    @include bold-font;
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 2rem;

    .row {
        width: 90%;
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;
        
    }
    .highlight-red{
        color: #FF4E4E;
    }
    .highlight-blue{
        color: #8077FF;
    }
}
.count{
    @include flex-layout(row,space-between,center);
        p{
        @include bold-font;
        font-size: 1.2rem;
    }
}
.counter{
    @include flex-layout;
    @include bold-font;
    button{
        border: none;
        outline: none;
            @include bold-font;
            background-color: #fff;
            padding: 1.5rem;
    }
}
.price-box{
    @include base-font;
    color: var(--color-black);
    border: 2px solid var(--color-btn);
    border-radius: 8px;
    padding: 1rem 1.2rem;
    margin: 1rem 0;
    text-align: right;
    span{
        @include bold-font;
        padding: 1rem;
    }
}
.btn-cart{
    @include flex-layout;
    gap: 0.5rem;
    button{
        @include bold-font;
        padding:1rem 1.5rem;;
        width: 230px;
        border-radius: 8px;
    }
    button:nth-child(1){
        color: var(--color-dark);
        background-color: #fff;
        border: 2px solid var(--color-btn);
    }
    button:nth-child(2){
        background-color: var(--color-btn);
        color: var(--color-white);
    }
}
.office-img{
    @include flex-layout;
    img{
        background-color: var(--color-gray);
        height: 380px;
        width: 450px;
        margin: 5rem auto;
    }
}
.content-list{
    @include base-font;
    @include flex-layout(row,space-around,center);
    border-bottom: 1px solid var(--color-primary);
    padding: 1rem;
    li{
        padding: 0.3rem 1rem;
    }
    li:hover{
        @include bold-font;
        color: var(--color-primary);
        padding: 0rem 1rem;
    }
}
.img-item{
    @include flex-layout(column);
    @include base-font;
    img{
        width: 450px;
        height: 450px;
        background-color: var(--color-gray);
        margin-top: 15rem;
    }
    h3{
        margin-top: 2em;
    }
    p{
        margin-top: 1rem;
        text-align: center;
    }
}
.img-item2{
    @include base-font;
    div{
        @include flex-layout(row,space-around,center);
        margin-top: 15rem;
    }
    img{
        width: 225px;
        height: 225px;
        background-color: var(--color-gray);
    }
        h3{
            text-align: center;
        margin-top: 2rem;
    }
    p{
        margin-top: 1rem;
        text-align: center;
    }
}

.itemsize{
    @include flex-layout(column);
    @include bold-font;
    img{
        height: 350px;
        width: 450px;
        background-color: var(--color-gray);
        margin-top: 5rem;
    }
    h3{
        padding: 2rem;
    }
}
.item-size-text{
    @include base-font;
    margin: 7rem 0;
    padding: 0 2rem;
    h3{
        padding: 1rem 0;
    }
    p{
        padding: 0.5rem;
    }
}
.post-date{
    @include flex-layout(column);
    gap: 0.5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--color-dark);
    img{
        height: 350px;
        width: 450px;
        background-color: var(--color-gray);
    }
}
.contect-items{
    @include flex-layout;
    @include base-font;
    margin: 5rem auto;
    border-bottom: 1px solid var(--color-dark);
    padding-bottom: 5rem;
    ul{
        display: grid;
        grid-template-columns: repeat(2, 2fr);;
        gap: 2rem;
        li{
            img{
                background-color: var(--color-gray);
                width: 210px;
                height: 210px;
            }
            .name{
                @include bold-font;
            }
        }
    }
}

.qna-list{
    @include base-font;
    @include flex-layout(column);
    display: block;
    margin-bottom: 3rem;
    h1{
        padding: 3rem;
        text-align: center;
    }
    div{
        background-color: var(--color-dark);
        margin: 0.5rem 0;
        padding: 1rem 0.5rem;
        .Qmenu-list{
            @include bold-font;
            @include flex-layout(row,space-between,center);
            color: var(--color-white);
            ul>li{
                display: none;
                background-color: var(--color-gray);
            }
        }
    }
}
