@import "./global.scss";

#review-wrap {
    width: 412px;
    margin: 0 auto;

    @include tablet {
        width: 100%;
        max-width: 768px;
        padding: 0 2rem;
    }

    @include desktop {
        max-width: 1440px;
        padding: 0 4rem;
    }
}

.review-title {
    margin: 0 auto;
    padding: 1rem 2rem;
    @include flex-layout(row, space-between, center);

    h1 {
        @include large-font;
        color: var(--color-primary);
    }

    p>a {
        @include base-font;
        color: var(--color-dark);
    }
}

.review-all-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3열
        gap: 2rem;
}
    @include desktop {
        grid-template-columns: repeat(4, 1fr); // 4열로 변경
        gap: 2.5rem;
    }
    }


.review-list {
    margin: 2rem auto;
    border-bottom: 1px solid #666666;

    @include tablet {
        margin: 0;
        border-bottom: none;
    }
}

.review-main {
    @include flex-layout(column, center, flex-start);
    margin: 0 1.5rem;
    gap: 0.5rem;

    @include tablet {
        margin: 0 auto;
    }

    img {
        width: 348px;
        height: 270px;
        background-color: var(--color-gray);
        border-radius: 8px;

        @include tablet {
            width: 100%;
            height: auto;
            aspect-ratio: 4 / 3;
            object-fit: cover;
        }

        @include desktop {
            aspect-ratio: 3 / 2;
        }
    }

    span {
        color: #ffeb51;
    }

    .reviewtxt {
        color: #222;
        @include bold-font;
    }

    .reviewsub {
        @include small-font;
        color: var(--color-dark);
    }
}

.price {
    width: 412px;
    margin: 0;
    padding-left: 0;

    @include tablet {
        width: 100%;
        padding: 0 1.5rem;
        padding-left: 0;
    }

    a {
        width: 88%;
        margin: 1rem auto;
        display: flex;

        img {
            background-color: var(--color-gray);
            border-radius: 6px;
            width: 95px;
            height: 95px;

            @include desktop {
                width: 110px;
                height: 110px;
                padding-left: 0;
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            p {
                margin-left: 0.5rem;
            }

            .small-text {
                padding: 0.5rem 0;
                @include small-font;
                color: var(--color-dark);
                margin-top: 0.8rem;
            }
        }
    }
}